.HomeContainer {
  max-width: 1400px;
  height: 98vh;
  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 7fr;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.HomeContainer h1 {
  grid-row: 1;
}

.main {
  grid-row: 2;

  display: flex;
  width: 100%;
}
